<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Deposit Form</h4>
            <form (ngSubmit) ="deposit()">
            <input type="text" id="acno" name="Accno"  [(ngModel)]= "dAccno" placeholder="enter account number">
            <input type="text" id="pwd" name="Pswd"  [(ngModel)]= "dPswd" placeholder="enter password">    
            <input type="text"  name="Amount"  [(ngModel)]= "dAmount" id="amt" placeholder="amount">
            <input type="submit" class="btn btn-success"  value="Deposit">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Withdrwal Form</h4>
            <form (ngSubmit) ="withdrwal()">
            <input type="text" id="acno1" name="Accno"  [(ngModel)]= "wAccno" placeholder="enter account number">
            <input type="text" id="pwd1" name="Pswd"  [(ngModel)]= "wPswd" placeholder="enter password">
            <input type="text" name="Amount"  [(ngModel)]= "wAmount"  id="amt1" placeholder="amount">
            <button class="btn btn-success" onclick="">Withdrwal</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
