<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Deposit Form</h4>

            <input type="text" id="acno" placeholder="enter account number">
            <input type="text" id="pwd" placeholder="enter password">    
            <input type="text" name="" id="uname" placeholder="amount">
            <button class="btn btn-success" onclick="">Deposit</button>

        </div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Withdrwal Form</h4>

            <input type="text" id="acno1" placeholder="enter account number">
            <input type="text" id="pwd1" placeholder="enter password">
            <input type="text" name="" id="uname1" placeholder="amount">
            <button class="btn btn-success" onclick="">Withdrwal</button>

        </div>
        <div class="col-4"></div>
    </div>
</div>
