<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Welcome to Yesbank<br>
                <h5>{{aim}}</h5>
            </h4>
            <input type="text" id="uname"   [(ngModel)]= "uname" placeholder="enter username">
            <input type="text" id="acno"   [(ngModel)]= "accno" placeholder="enter account number">
            <input type="password" id="pwd"   [(ngModel)]= "pswd" placeholder="enter password">
            <button class="btn btn-success" (click)="register()">register</button>

        </div>
        <div class="col-4"></div>
    </div>
</div>
