<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Welcome to Yesbank</h4><br>
                <h5>Register form</h5>
            
            <form [formGroup] ="registerForm"  (ngSubmit)="register()">
            <input type="text" id="uname" name="usname"  formControlName= "uname" placeholder="enter username">
            <input type="text" id="acno"  name="acno"  formControlName ="acno" placeholder="enter account number">
            <input type="password" id="pwd" name="pwd"  formControlName="pswd" placeholder="enter password">
            <input type="submit" class="btn btn-success"  value="register">
            <a routerLink="">Log In</a>
        </form>
        </div> 
        <div class="col-4"></div>
    </div>
</div>
